<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>addstudent</servlet-name>
        <servlet-class>com.addstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addbooks</servlet-name>
        <servlet-class>com.addbooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>books</servlet-name>
        <servlet-class>com.books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>com.student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issuing</servlet-name>
        <servlet-class>com.issuing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returning</servlet-name>
        <servlet-class>com.returning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ONLYSTUDENTS</servlet-name>
        <servlet-class>com.ONLYSTUDENTS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myprofile</servlet-name>
        <servlet-class>com.myprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginagain</servlet-name>
        <servlet-class>com.loginagain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reports</servlet-name>
        <servlet-class>com.reports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentbook</servlet-name>
        <servlet-class>studentbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentbooks</servlet-name>
        <servlet-class>com.studentbooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listbook</servlet-name>
        <servlet-class>com.listbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listbooks</servlet-name>
        <servlet-class>com.listbooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addstudent</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addbooks</servlet-name>
        <url-pattern>/addbooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>books</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issuing</servlet-name>
        <url-pattern>/issuing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returning</servlet-name>
        <url-pattern>/returning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ONLYSTUDENTS</servlet-name>
        <url-pattern>/ONLYSTUDENTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myprofile</servlet-name>
        <url-pattern>/myprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginagain</servlet-name>
        <url-pattern>/loginagain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reports</servlet-name>
        <url-pattern>/reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentbook</servlet-name>
        <url-pattern>/studentbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentbooks</servlet-name>
        <url-pattern>/studentbooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listbook</servlet-name>
        <url-pattern>/listbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listbooks</servlet-name>
        <url-pattern>/listbooks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
